* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start of header */
.header-up {
    background-color: #add8e6;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-menu {
    margin-top: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo, .header-links, .header-login {
    border: 2px dashed black;
    background-color: #daa520;
    padding: 10px;
}

.header-logo {
    width: calc(100% / 6);
}

.header-links {
    width: calc(100% / 6 * 4);
    text-align: center;
}

.header-login {
    width: calc(100% / 6);
    text-align: right;
}

.header-down {
    background-color: #00008b;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    background-color: #ee82ee;
    width: 60%;
    margin: auto;
    height: 300px;
    border: 2px dashed #fff;
}
/* End of header */

/* Start of main sections */
/* Start of section-1 */
.section-1 {
    margin: 10px;
}

.s1-content {
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
}

.s1-c-left {
    background-color: #1e90ff;
    height: 100%;
    width: calc(100% / 3 * 2);
    border: 2px dashed black;
}

.s1-c-right {
    background-color: #ffc0cb;
    height: 100%;
    width: calc(100% / 3);
    border: 2px dashed black;
}

/* End of section-1 */

/* Start of section-2 */
.section-2 {
    background-color: #d3d3d3;
    height: 400px;
}

.s2-content {
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.s2-c-left {
    background-color: #1e90ff;
    height: 90%;
    width: calc(100% / 3 * 2);
    border: 2px dashed black;
}

.s2-c-right {
    background-color: #ffc0cb;
    height: 90%;
    width: calc(100% / 3);
    border: 2px dashed black;
}
/* End of section-2 */

/* Start of section-3 */
.section-3 {
    background-color: #d3d3d3;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s3-content {
    height: 90%;
    width: 80%;
    background-color: #228b22;
    border: 2px dashed #000;
}

/* End of section-3 */

/* End of main sections */