* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-up {
    background-color: #add8e6;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-menu {
    margin-top: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo, .header-links, .header-login {
    border: 2px dashed black;
    background-color: #daa520;
    padding: 10px;
}

.header-logo {
    width: calc(100% / 6);
}

.header-links {
    width: calc(100% / 6 * 4);
    text-align: center;
}

.header-login {
    width: calc(100% / 6);
    text-align: right;
}

.header-down {
    background-color: #00008b;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    background-color: #ee82ee;
    width: 60%;
    margin: auto;
    height: 300px;
    border: 2px dashed #fff;
}